{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load static %}

{% block title %}文章列表{% endblock %}

{% block content %}
  {% for post in post_list %}
    <article>
      <h1><a href="#" >{{ post.title }}</a></h1>
      <hr>
      <p class="">
        {{ post.pub_time }}  |  by 
        <span>
	  <a href="#"  rel="author">Ryzen</a>
	</span>  |  
        <a href="#"  rel="category">
	  {% for tag in post.tags.all %}
	    {{ tag }} 
	  {% endfor %}
	</a>
	<a href="/admin/blog/article/{{ post.id }}/change/">修改</a>
      </p>
      <!-- div class="time">
        <p>{{ post.pub_time | date:"M" }}<br>
	<span>{{ post.pub_time | date:"d" }}</span></p>
      </div --> 
    
      <hr>

      <div class="">
	<p>{{ post.content|markdown }}</p>
	<!-- p> <a href="#" class="more-link">Read full story</a></p -->
      </div>

      <!-- div class="clear"></div>
    
      <p class="bottom_info"><a href="#" >1 Comment »</a></p -->

    </article>
  {% endfor %}
{% endblock %}
